.owl-carousel
  .img-slider
    = image_tag(asset_path("img1.jpeg"))
  .img-slider
    = image_tag(asset_path("img1.jpeg"))
  .img-slider
    = image_tag(asset_path("img1.jpeg"))

%h3{:class=>"topic-label"} Clothstore Products
.row
  .column
    %ul.product-grid.no-bullet.row
      - @products.each do |product|
        %li.large-3.medium-6.small-12.column
          .product-card.padly
            = link_to product, class: "poster" do
              //to be linked with database image
              = image_tag(asset_path('product_img.jpeg'), :class => "small")
            .product-info.ell.glassy-bg.padmy.padlx
              .title.left
                %h6
                  = product.name
                  %span
                    (#{product.cloth_type})
                - if product.promotion != 0
                  %p.left.price.label.product-label.radius 
                    $ #{product.price * (1-product.promotion/100)}
                  %p{:class =>"left price label product-label radius original-price"}
                    $ #{product.price}
                - else
                  %p.left.price.label.product-label.radius
                    $ #{product.price}
              = link_to "Show details", product_path(product), class: "right button small b-custom" 
              
= javascript_include_tag "owl"

  