.owl-carousel
  .img-slider
    = image_tag(image_url("img1.jpeg"))
  .img-slider
    = image_tag(image_url("img1.jpeg"))
  .img-slider
    = image_tag(image_url("img1.jpeg"))
.row
  %h3.column{:style => "margin-top: 5%; text-align: center;"} Featured Products

  .column
    %ul.product-grid.no-bullet.row
      - @products.each do |product|
        %li.large-3.medium-4.small-12.column
          .product-card.padly
            = link_to product, class: "poster" do
              = image_tag('http://placehold.it/300x400', :class => "thumbnail")
            .product-info.ell.glassy-bg.padmy.padlx
              .title
                %h6
                  = product.name
                  %span
                    (#{product.cloth_type})
              %p.left.price.label.product-label.radius
                - if product.check_discount
                  $ #{product.price * (1-product.promotion/100)}
                - else
                  $ #{product.price}  
              = link_to product, class: "right store-icon" do
                = image_tag('https://29cardgame.net/fbshop/bunonshop/img/photos/cloth.jpg')

= javascript_include_tag "owl"

  