!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Clothstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
   
    = render "layouts/header"
    = render "layouts/alert"
    #main-content.row.full-min-height
      = yield
      %footer{:class=>"row"}
        .large-12.columns
          %p>©Clothstore for my job 2016

